<div class="row">
  <div class="col-xs-4 well">
    {{render 'tweet-form'}}
  </div>

  <div class="col-xs-6">
    <ul class="list-unstyled">
      {{#each}}
        <div {{action "showTime" on="click"}}>
          <li class="tweet">
            <h4>{{user}}</h4>
            <p>{{text}}</p>

            {{#if dateShowing}}
              <p>{{dateTime}}</p>
            {{/if}}

          </li>
      </div>
      {{/each}}
    </ul>
  </div>
</div>
